/* Gallery Styling */

body{
    background-color:black;
}

p{
    color:white;
}

h3,
h2{
   color:white;
}
.th img{
     width:200px;
    height:150px;
}

.gallery .th {
	float: left;
	margin: 0 20px 10px 0;
     width:200px;
    height:156px;

}
.icon{
    width:3%;
}


h3 a{
    text-decoration: none;
    color: white;
    font-size: .75em;
}

header{
    background-image: url(../img/sunset.png);
  }

header a{
    color:black;
}

p{
    font-size: .75em;
    color:white;
}

.intro{
    margin:2%;
}

.large-6,
.large-3 {
	-moz-transition: width .25s .5s;
	-webkit-transition: width .25s .5s;
	transition: width .25s .5s;
}

/* Wireframing Font */
@font-face {
    font-family: 'redactedregular';
    src: url('../font/redacted-regular.eot');
    src: url('../font/redacted-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/redacted-regular.woff') format('woff'),
         url('../font/redacted-regular.ttf') format('truetype'),
         url('../font/redacted-regular.svg#redactedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* 
p, h3, a {
	font-family: 'redactedregular';
}
*/